body {
  margin: 16px;
  padding: 0;

  font-family: 'Roboto', sans-serif;
  font-size: 100%;

  background-color: #EEEEEE;
  text-align: center;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.info {
  margin-top: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid #D1D1D1;
}
.info h1 {
  font-size: 24px;
  font-weight: 600;
  margin: 0 0 10px 0;
}
.info p {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}

.settings {
  margin: 20px 0;
}
.settings h2 {
  font-size: 20px;
  font-weight: 600;

  margin: 0;
}

.notification {
  margin: 0 auto;
  text-align: left;

  padding: 12px 12px 8px 12px;

  border-radius: 2px;
  background-color: white;

  position: relative;

  -webkit-box-shadow: 0 0 2px 0 rgba(0,0,0,.12), 0 2px 2px 0 rgba(0,0,0,.22);
     -moz-box-shadow: 0 0 2px 0 rgba(0,0,0,.12), 0 2px 2px 0 rgba(0,0,0,.22);
      -ms-box-shadow: 0 0 2px 0 rgba(0,0,0,.12), 0 2px 2px 0 rgba(0,0,0,.22);
       -o-box-shadow: 0 0 2px 0 rgba(0,0,0,.12), 0 2px 2px 0 rgba(0,0,0,.22);
          box-shadow: 0 0 2px 0 rgba(0,0,0,.12), 0 2px 2px 0 rgba(0,0,0,.22);
}
.small .notification {
  width: 264px;
}
.med .notification {
  width: 284px;
}
.big .notification {
  width: 324px;
}
  .notification span,
  .notification div {
    display: inline-block;
  }

  .notification span:first-child {
    width: 40px;
    height: 40px;
    margin-right: 20px;


    border-radius: 20px;

    background-color: rgba(0,0,0,.26);
  }
  .notification div {
    position: relative;
    top: 0;
  }

  .small .notification input,
  .small .notification h1,
  .small .notification p {
    max-width: 140px;
    min-width: 140px;

    overflow: hidden;
  }
  .med .notification input,
  .med .notification h1,
  .med .notification p {
    max-width: 160px;
    min-width: 160px;

    overflow: hidden;
  }
  .big .notification input,
  .notifications input,
  .big .notification h1,
  .big .notification p {
    max-width: 200px;
    min-width: 200px;

    overflow: hidden;
  }

  .notification input {
    border: none;
    background: none;
    margin: 0;
    padding: 0;

    font-family: 'Roboto', sans-serif;
  }
  .notification input:focus {
    border: none;
    outline: none;
  }

  .notification h1,
  .notification p {
    margin: 0;
    word-break: keep-all;
  }

  .notification h1,
  .notification h1 input,
  .validation-title {
    font-size: 16px;
    font-weight: 400;
    max-height: 19px;

    margin-bottom: 5px;

    color: rgba(0,0,0,.87);
  }
  .notification h1 input {
    margin: 0;
  }
  .notification p,
  .notification p input,
  .validation-description {
    font-size: 14px;
    max-height: 16px;

    color: rgba(0,0,0,.54);
  }
  time {
    position: absolute;
    top: 12px;
    right: 12px;
    font-size: 12px;
    color: rgba(0,0,0,.54);
  }
  .validation-description,
  .validation-title {
    visibility: hidden;
    display: inline-block;
  }

.alert {
  padding: 5px 10px;
  background-color: red;
  color: white;

  border-radius: 2px;

  margin: 0 auto 5px auto;
  width: 330px;

  display: none;
}

.phone {
  text-align: center;
  padding: 50px 0 0;
  height: 320px;

  margin: 50px auto 0 auto;

  border-radius: 20px 20px 0 0;
  background: #242628; /* Old browsers */
  background: -moz-linear-gradient(top,  #242628 0%, #000000 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #242628 0%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #242628 0%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#242628', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}
.phone .screen {
  background-color: #303030;
  margin: 0 auto;

  padding-top: 30px;
}
.phone.small {
  width: 320px;
}
.phone.med {
  width: 340px;
}
.phone.big {
  width: 380px;
}
.phone.small .screen {
  width: 300px;
  height: 290px;
}
.phone.med .screen {
  width: 320px;
  height: 290px;
}
.phone.big .screen,
.notifications {
  width: 360px;
  height: 290px;
}

.phone button {
  height: 36px;

  background-color: #549788;
  border: none;
  padding: 0 24px;
  border-radius: 2px;

  text-transform: uppercase;

  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: white;

  margin-top: 24px;

  -webkit-box-shadow: 0 0 2px 0 rgba(0,0,0,.12), 0 2px 2px 0 rgba(0,0,0,.22);
     -moz-box-shadow: 0 0 2px 0 rgba(0,0,0,.12), 0 2px 2px 0 rgba(0,0,0,.22);
      -ms-box-shadow: 0 0 2px 0 rgba(0,0,0,.12), 0 2px 2px 0 rgba(0,0,0,.22);
       -o-box-shadow: 0 0 2px 0 rgba(0,0,0,.12), 0 2px 2px 0 rgba(0,0,0,.22);
          box-shadow: 0 0 2px 0 rgba(0,0,0,.12), 0 2px 2px 0 rgba(0,0,0,.22);

  /*display: none;*/
}
.phone button:disabled {
  background-color: rgba(255,255,255,.26);
  color: rgba(255,255,255,.26);

  -webkit-box-shadow: none;
     -moz-box-shadow: none;
      -ms-box-shadow: none;
       -o-box-shadow: none;
          box-shadow: none;
}

.notifications {
    height: auto;

    border-left: 1px solid #D1D1D1;
    padding-left: 24px;
    margin-left: 24px;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;

    background: #242628; /* Old browsers */
    background: -moz-linear-gradient(top,  #242628 0%, #000000 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #242628 0%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #242628 0%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#242628', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}
  .notifications h2 {
    color: white;
  }
  .notifications .list {
    position: absolute;

    top: 60px;
    bottom: 0;
    left: 0;
    right: 0;

    padding: 0 10px;

    overflow: auto;
  }
  .notifications ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
    .notifications ul li {
      position: relative;
      margin-bottom: 10px;
    }
    .notifications ul li.empty {
      padding: 10px;
      color: rgba(255,255,255,.87);
    }
    .notifications ul li .close {
      position: absolute;
      right: 12px;
      bottom: 8px;

      color: rgba(0,0,0,.54);

      cursor: pointer;
    }
    .notifications ul li .close:hover {
      color: rgba(0,0,0,.87);
    }


.content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 360px;
}
